

<div class="container-fluid position-relative d-flex p-0">
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->


  <!-- Sign In Start -->
  <div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
      <div class="col-auto">
        <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
          <div class="d-flex align-items-center gap-3 justify-content-between mb-3">
            <a href="/" class="">
              <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>SoocKart</h3>
            </a>
            <h3>Sign In</h3>
          </div>
          <form action="/admin/signIn" method="post" id="signInForm">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                value="sidheeqpallam111@gmail.com" name="Email" required>
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-4">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                value="1234567890qwerty" name="Password" required>
              <label for="floatingPassword">Password</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-4">
              {{#if invalid}}
  <p class="text text-danger text-center">Invalid E-mail or Password</p>
              {{/if}}
            </div>
            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>

          </form>



        </div>
      </div>
    </div>
  </div>
  <!-- Sign In End -->
</div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>  

<script>
     
  
</script>